*, *::after, *::before {
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.head{
    height: 500px;
    width: 300px;
    background-color: #F3B378;
    border-radius: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.eyes{
    display: flex;
    justify-content: space-between;
    width: 70%;
    z-index: 4;
}

.eye{
    border: 5px solid black;
    height: 100px;
    width: 60px;
    border-radius: 21px;
    position: relative;
}

.eye::before{
    content: '';
    height: 60px;
    width: 56px;
    background-color: black;
    position: absolute;
    bottom: -1px;
    left: -3px;
    border-radius: 20px;
}

.eye::after{
    content: '';
    width: 10px;
    height: 30px;
    background-color: #ffffff;
    position: absolute;
    top: 45px;
    left: 20px;
    transform: rotate(-45deg)
}

.nose {
    height: 60px;
    width: 60px;
    position: absolute;
    border: 5px solid black;
    top: 300px;
    border-radius: 15px;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
}

.moustache{
    height: 20px;
    width: 180px;
    background-color: black;
    position: absolute;
    bottom: 110px;
    border-radius: 5px;
}

.mouth {
    width: 0;
    height: 0;
    border: 65px solid transparent;
    border-top: 0;
    border-top-right-radius: 30%;
    position: absolute;
    border-bottom: 90px solid rgb(0, 0, 0);
    bottom: 10px;
    transform: rotate(180deg);
}

.teeth {
    width: 90px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: 77px;
    right: -45px;
}

.tounge {
    height: 30px;
    width: 50px;
    background-color: #A70303;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transform: rotate(126deg);
    margin-left: -33px;
    margin-top: 22px;
}

.hairs {
    height: 200px;
    width: 300px;
    background-color: #73004C;
    position: absolute;
    top: -50px;
    right: 0;
    border-top-right-radius: 70%;
    border-bottom-left-radius: 20%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hairs::before, .hairs::after {
    content: '';
    width: 12px;
    height: 160px;
    background-color: #73004C;
    position: absolute;
    left: 0;
    top: 138px;
    border-radius: 0 0 10px 10px;
}

.hairs::after{
    left: initial;
    right: 0;
}

.ears{
    position: absolute;
    width: 340px;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    top: 43%;

}

.ear {
    width: 20px;
    height: 100px;
    background-color: #d1853e;
    border-radius: 0 40% 40% 0;
}

.ear:first-child{
    border-radius: 40% 0 0 40%;
}

.glasses {
    display: flex;
    justify-content: space-between;
    width: 85%;
    position: absolute;
    z-index: 5;
}

.glass {
    height: 140px;
    width: 100px;
    background-color: rgba(115, 0, 76, 0.4);
    border-radius: 20%;
}

.glassbar{
    position: absolute;
    top: 44%;
    z-index: 1
}

.glass__bar__one,
.glass__bar__two,
.glass__bar__three{
    
    height: 10px;
    position: absolute;
    background-color: #551885;
}

.glass__bar__one{
    width: 56px;
    left: -28px;
}

.glass__bar__two{
    width: 56px;
    width: 33px;
    left: -160px;
    border-radius: 10px 0 0 10px
}

.glass__bar__three{
    width: 56px;
    left: 127px;
    width: 33px;
    border-radius: 0 10px 10px 0;
}


}


